nodeRED/flows.json
[
  {
    "id": "7549a21b.d7c3bc",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cb4b6adf.dc4358",
    "type": "websocket in",
    "z": "7549a21b.d7c3bc",
    "name": "",
    "server": "",
    "client": "37bf2aea.2dae06",
    "x": 410,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "f23c0e2f.5e3a7",
    "type": "websocket out",
    "z": "7549a21b.d7c3bc",
    "name": "",
    "server": "38697711.a254f8",
    "client": "",
    "x": 830,
    "y": 240,
    "wires": []
  },
  {
    "id": "d5227a47.d431c8",
    "type": "function",
    "z": "7549a21b.d7c3bc",
    "name": "",
    "func": "return {payload: msg.payload};\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 580,
    "y": 240,
    "wires": [
      [
        "f23c0e2f.5e3a7",
        "a42a8b40.f84ea8"
      ]
    ]
  },
  {
    "id": "a42a8b40.f84ea8",
    "type": "debug",
    "z": "7549a21b.d7c3bc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 340,
    "wires": []
  },
  {
    "id": "346fd4c.e20702c",
    "type": "websocket in",
    "z": "7549a21b.d7c3bc",
    "name": "",
    "server": "38697711.a254f8",
    "client": "",
    "x": 350,
    "y": 240,
    "wires": [
      [
        "d5227a47.d431c8"
      ]
    ]
  },
  {
    "id": "23f947f3.95dac8",
    "type": "inject",
    "z": "7549a21b.d7c3bc",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 350,
    "y": 320,
    "wires": [
      [
        "d5227a47.d431c8"
      ]
    ]
  },
  {
    "id": "37bf2aea.2dae06",
    "type": "websocket-client",
    "path": "ws://nodeRED:1880/ws/receiveMessage",
    "tls": "",
    "wholemsg": "false"
  },
  {
    "id": "38697711.a254f8",
    "type": "websocket-listener",
    "path": "/ws/receiveMessage",
    "wholemsg": "false"
  }
]
